@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Goudy Bookletter 1911', serif;
}

#update-delete{
    align-items: flex-end;

}