{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Welcome to this blog app</title>
        {% endif %}
    </head>
    <body>
        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <div id="quotes" class="card">
                        <h4>Quote</h4>
                        <p><strong>Quote of the day: {{quotes.author}}</strong></p>
                        <p>{{quotes.quote}}</p>
                    </div>                    
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>

