{% macro displayCategory(categories) %}
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-md-10">
            <div>
                <div>
                    <h3>{{category.title}}</h3>
                    <p>Posted By: {{category.users.username}}</p>
                    <p>Posted At: {{category.time.strftime('%d-%m-%Y')}}</p>
                    <p>{{category.blog}}</p>
                </div>
                <div><a href="{{url_for('main.new_comment', post_id=category.id)}}">Comments:</a></div>  
                 
                <div id="update-delete">
                    <a href="{{url_for('main.update_post', post_id=category.id)}}"><small>Update Blog Post</small></a>
                    <a href="{{url_for('main.delete_post', post_id=category.id)}}"><small>Delete Blog Post</small></a>
                </div>          
            </div>
        </div>
    
        {% endfor %}
    </div>   

</div>

{% endmacro %}